
<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"> 

<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">Đăng nhập</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css"
      crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/demo.css}">
</head>

<body>

    <header th:replace="fragments/header :: header"></header>
    <div layout:fragment="content">
        <div class="login-box">
            <h3>ĐĂNG NHẬP</h3>
            
                <!--
                <c:if test="${param.error != null}">
                    <div class="alert" style="color: red;">Invalid email or password.</div>
                </c:if>
                <c:if test="${param.logout != null}">
                    <div class="alert" style="color: green;">Logout success.</div>
                </c:if>
                -->

            <form th:action="@{/auth/signin-form}" th:object="${loginRequest}" method="post">
                <label for="username">Username</label>
                <input type="text" th:field="*{username}" placeholder="Username" required />
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" placeholder="Password" required />

                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                <button type="submit">Login</button>

                <div class="small">
                    Don't have an account? <a href="/auth/signup">Register here</a>
                </div>
            </form>
        </div>
    </div>
    
</body>

</html>
