<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header class="header" th:fragment="header">
            <div class="container">
                <div class="header-left">
                    <img src="/images/logo.png" alt="Văn Rồm" class="logo" />
                </div>
                <div class="header-center">
                    <div class="search-box">
                        <input type="text" placeholder="Tìm kiếm sản phẩm..." />
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-item">
                        <i class="fa fa-phone icon-circle"></i>
                        <div class="info">
                            <strong>1900 866 819</strong><br />
                            <span>Hỗ trợ khách hàng</span>
                        </div>
                    </div>
                    <div class="header-item">
                        <i class="fa fa-user icon-circle"></i>
                        <div class="info">
                            <span>Lâm Văn Chương</span>
                            
                        </div>
                    </div>
                    <div class="header-item cart-icon">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="cart-badge">0</span>
                    </div>
                </div>
            </div>
        </header>
        
        <script src="" async defer></script>
    </body>
</html>